@import 'config';
@import 'menu';

*{
  box-sizing: border-box;
}

body{
  @include background;
  background-color: $primary-color;
  color: change-text-color($primary-color);
  height: 100%;
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5;
}

//Headings
h1,h2,h3{
  margin: 0;
  font-weight: 400;


  &.lg-heading{
    font-size: 6rem;
  }
  &.sm-heading{
    margin-bottom: 2rem;
    padding: 0.2rem 1rem;
    background: rgba(lighten($primary-color, 2), 0.3);
  }
}

a{
  color: change-text-color($primary-color);
  text-decoration: none;
}

header{
  position: fixed;
  z-index: 2;
  width: 100%;
}

.text-secondary{
  color: lighten($secodary-color, 9);
  font-weight: 500;
}

main{
  padding: 4rem;
  //height: 100%;
  min-height: calc(100vh - 60px);
  text-align: center;


  .icons{
    margin-top: 1rem;

    a{
      padding: 0.4rem;

      &:hover{
        color: $secodary-color;
        @include easOut;
      }
    }
  }

  &#home{
    overflow: hidden;
    h1{
      margin-top: 20vh;
    }
  }
}

//About
.about-info{
  display: grid;
  grid-gap: 30px;
  grid-template-areas:
  'bioimage bio bio'
  'job1 job2 job3';
  grid-auto-columns: repeat(3, 1fr);

  .bio-image{
    grid-area: bioimage;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    margin: auto;
    border: $secodary-color 3px solid;
  }

  .bio{
    grid-area: bio;
    font-size: 1.5rem;
  }

  .job{
    background: lighten($primary-color,5);
    padding: 0.5rem;
    border-bottom: $secodary-color 5px solid;
  }

  .job-1{
    grid-area: job1;
  }

  .job-2{
    grid-area: job2;
  }

  .job-3{
    grid-area: job3;
  }
}

//Projects
.projects{
  display: grid;
  grid-gap: 0.7rem;
  grid-template-columns: repeat(3, 1fr);


  img{
    width: 100%;
    border: 3px #fff solid;

    &:hover{
      opacity: 0.5;
      border-color: $secodary-color;
      @include easOut;
    }
  }
}

//Buttons
.btn{
  display: block;
  padding: 0.5rem 1rem;
  border: 0;
  margin-bottom: 0.3rem;

  &:hover{
    background: $secodary-color;
    color: set-text-color($secodary-color);
  }
}

.btn-dark{
  @extend .btn;
  background: darken($primary-color, 50);
  color: #fff;
}

.btn-light{
  @extend .btn;
  background: lighten($primary-color, 50);
  color: #333;

}

//Particles Background
#x1{
  background-size: cover;
  width: 100%;
  height: 100%;
}

canvas{
  position: fixed;
  z-index: -1;
}

#main-footer{
  text-align: center;
  padding: 1rem;
  background: darken($primary-color, 10);
  color: set-text-color($primary-color);
  height: 60px;
}

@import 'moblie';
